Package: com.idefix2020.zoomunlocked
Name: Zoom Unlocked
Version: 1.0.1
Architecture: iphoneos-arm
Description: Unlock the Active Speaker Thumbnail in Zoom
Maintainer: Idefix2020
Author: Idefix2020
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
